bcrypt==3.1.7
Django==3.2.6
fasteners==0.14.1
firebase-admin==5.0.2
Flask==1.1.2
future==0.18.2
gcloud==0.17.0
google-api-core==1.31.2
google-api-python-client==2.17.0
google-auth==2.0.1
google-auth-httplib2==0.1.0
google-cloud-core==2.0.0
google-cloud-firestore==2.2.0
google-cloud-storage==1.42.0
google-crc32c==1.1.2
google-resumable-media==2.0.0
googleapis-common-protos==1.53.0
lockfile==0.12.2
oauth2client==3.0.0
oauthlib==3.1.0
olefile==0.46
packaging==21.0
psycopg2-binary==2.9.1
Pyrebase==3.0.27
rsa==4.7.2
SecretStorage==2.3.1
simplejson==3.16.0
systemd-python==234
